# snapshot-specific
snapshot/
snapshot_image
src/constants.rs

# rust build artifacts
debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb

# built harness binaries
harness/maze

# other misc data
perf.data*
flamegraph.svg
strace.log
fuzz*.log
*.log
